<div class="col-md-12">
  <h3>{{model.title}}</h3>

  <div class="blog-post-meta">
    <p>Created at: <time>{{model.createdAt}}</time></p>
    <p>Updated at: <time>{{model.updatedAt}}</time></p>
  </div>

  <dl class="dl-horizontal six columns">
    <dt><strong>Concoction Type</strong></dt>
    <dd>
      <p>
        {{model.concoctionType.name}}
      </p>
    </dd>

    <dt><strong>Description</strong></dt>
    <dd>{{model.description}}</dd>

    <dt><strong>Yields</strong></dt>
    <dd>
      <p>{{model.yields}} {{model.yieldsUnit}}</p>
    </dd>

    <dt><strong>Directions</strong></dt>
    <dd>{{model.directions}}</dd>

    <dt><strong>Ingredients</strong></dt>
    <dd>
      <ol>
        {{#each model.needsIngredients as |needsIngredient|}}
        <li>
            Name: {{needsIngredient.ingredient.name}}
            quantity: {{needsIngredient.quantity}}
            quantity unit: {{needsIngredient.quantityUnit}}
        </li>
        {{/each}}
      </ol>
    </dd>
  </dl>
</div>

{{outlet}}
